img {

    position: fixed;
    width: 100%;
}
body {
    margin: 0;
}

.container {
    position: absolute;
    top	: 5px;
    left: 10 % ;
    width: 100%;

}
.content {

    color			: white;
    font			:  25px/45px , Sans-Serif;
    letter-spacing	: 1px;
    background		: rgb(0, 0, 0);
    background		: rgba(0, 0, 0, 0.5);
    padding			: 30px;
    margin-left: 150px;
    margin-right: 150px;

}
.text  {
    text-decoration: underline;
    font-size: large;

}
h3 {
    text-align : center;
}
ol {
    margin-left: 50px;
}